@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1rem;
  border-color: #69a5d5;
  padding: 0%;
  overflow-x: hidden;
}

h1 {
  background-color: #69a5d5;
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0%;
}

.smokestackCont p {
  translate: -80px 50px;
  width: 500px;
  grid-column: 2;
  grid-row: 4;
  text-align: left;
}

.smokestackCont {
  display: grid;
  grid-template-rows: repeat(5 1fr);
  grid-template-columns: repeat(5 1fr);
  border-bottom-style: solid;
  border-bottom-color: #69a5d5;
}

#imgSmog {
  grid-row: 1 / span 3;
  grid-column: 1 / span 5;
  width: 1900px;
  animation: spin 20s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: translate(-100px);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    transform: translate(-100px);
  }
}

#imgSmokestack {
  grid-row: 3 / span 3;
  grid-column: 3 / span 2;
  width: 300px;
  translate: 0 60px;
}

h2 {
  background-color: #69a5d5;
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0%;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  width: 750px;
  color: white;
  background-color: #69a5d5;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.penguinCont {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 2rem;
}

.penguinCont p {
  font-size: 1rem;
  width: 200px;
  height: 30px;
  translate: 0 150px;
}

.penguinSad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8 1fr);
}

#imgHead {
  animation: rotate-head ease-in forwards;
  animation-timeline: view();
  width: 200px;
  grid-column: 1;
  grid-row: 1 / span 4;
  translate: 10px;
}

#imgBody {
  width: 200px;
  grid-column: 1;
  grid-row: 4 / span 5;
}

@keyframes rotate-head {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.penguinHappy {
  display: grid;
  grid-template-columns: repeat(8 1fr);
  grid-template-rows: 1fr;
}

#wingL {
  animation: rotate-wingL ease-in forwards;
  animation-timeline: view();
  width: 320px;
  grid-column: 1 / span 4;
  grid-row: 1;
  translate: 50px 110px;
}
#imgBody2 {
  height: 376px;
  grid-column: 3 / span 3;
  grid-row: 1;
}
#wingR {
  animation: rotate-wingR ease-in forwards;
  animation-timeline: view();
  width: 320px;
  grid-column: 4 / span 4;
  grid-row: 1;
  translate: -50px 110px;
}

@keyframes rotate-wingL {
  0% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

@keyframes rotate-wingR {
  0% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}

footer {
  background-color: #69a5d5;
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0%;
}
