@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1.5rem;
  border-color: #69a5d5;
  padding: 0%;
}

h1 {
  background-color: #69a5d5;
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0%;
}

.penguinCont {
  display: flex;
  flex-direction: row;
  margin-top: 1000px;
  margin-bottom: 1000px;
}

.penguinSad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8 1fr);
}

#imgHead {
  animation: rotate-head ease-in forwards;
  animation-timeline: view();
  width: 200px;
  grid-column: 1;
  grid-row: 1 / span 4;
  translate: 10px;
}

#imgBody {
  width: 200px;
  grid-column: 1;
  grid-row: 4 / span 5;
}

@keyframes rotate-head {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.penguinHappy {
  display: grid;
  grid-template-columns: repeat(8 1fr);
  grid-template-rows: 1fr;
}

#wingL {
  animation: rotate-wingL ease-in forwards;
  animation-timeline: view();
  width: 230px;
  grid-column: 1 / span 4;
  grid-row: 1;
  translate: 30px 90px;
}
#imgBody2 {
  width: 200px;
  grid-column: 3 / span 3;
  grid-row: 1;
}
#wingR {
  animation: rotate-wingR ease-in forwards;
  animation-timeline: view();
  width: 230px;
  grid-column: 4 / span 4;
  grid-row: 1;
  translate: -30px 90px;
}

@keyframes rotate-wingL {
  0% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(75deg);
  }
}

@keyframes rotate-wingR {
  0% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(-75deg);
  }
}
